@using CodePeace.StrawberryJam.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.AddCss(Url.Content("~/Content/Site.css"), "head")
    @Html.AddJavaScript(Url.Content("~/scripts/jquery-2.1.3.js"), "head")
    @Html.AddScriptSource(@<text>$(document).ready(function() { $('h1').text('The current controller is @ViewContext.RouteData.Values["controller"].ToString() - @DateTime.Now.Date.ToLongDateString() @DateTime.Now.Minute.ToString()'); });</text>, "test", area: "foot")
    
    @Html.WriteStyles("head")
    @Html.WriteScripts("head")
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    @Html.WriteScripts("foot")
</body>
</html>
